// .products-container{
//   background: var(--pink-principal);
// }

img{
  max-width: 40vw;
  border: solid 2px var(--pink-secondary);
  border-radius: 20px;
  background: white;
  cursor: pointer;
}
.products-container{
  padding-top: 20px;
  display: grid;
  grid-template-columns: 40vw 40vw;
  gap: 30px;
  justify-content: center;
}
.text{
  font-size: 4vw;
  text-align: center;
}
.price{
  font-weight: 800;
}
