<div class="form-container">
  <div class="text">Welcome to fantastic makeup</div>
  <form action="">
    <div class="buttons">
      <button><i class="fa-brands fa-square-facebook"></i>Sign in with facebook</button>
      <button><i class="fa-brands fa-google"></i> Sign in with gmail</button>
    </div>
    <input type="email" placeholder="email addrees">
    <input type="password" placeholder="password">
    <div class="buttons">
      <button>Sign in</button>
      <button>Sign up</button>
    </div>
  </form>

  <div class="image-container">
    <img src="https://previews.123rf.com/images/puhhha/puhhha1712/puhhha171200539/91946707-beautiful-woman-talking-on-phone-walking-on-street-portrait-of-stylish-smiling-business-woman-in-fas.jpg" alt="">
  </div>

  <div class="text">Sign in now and start being beautiful</div>
</div>
